*{
	margin:0;
	padding:0;
}

html,body{
	height:100%;
}

body{
	/*background:linear-gradient(180deg,#f1f1f1,#d6d6d6);*/
	background:linear-gradient(180deg,#323131,#0f0f0f);
}

.wrapper{
    height:100%;
	max-width:80%;

	/*absolute centering using flexbox*/
	display: flex;
	align-items: center;
	justify-content: center;
	/*makes sure flex items are shown vertically*/
	flex-direction: column;

	margin:auto;
	text-align:center;
	/*background:linear-gradient(45deg,#b2d7cf,#94c2b8);*/
}

.comfort{
    font-family: comfortaa,cursive;
}
.monospace{
	font-family: monospace;
}

.head{
    font-size:4.3em;
    font-weight:700;
}

.subhead{
    font-size:2.488em;
    font-weight:300;
	color:#dedede;
}

.location{
}

.temperature{
    display:flex;
	width:100%;

	color:#ff4f4f;
}

.temp{
    width:50%;
    text-align:right;

	display: block;
}

.unit{
	flex-grow:1;
	/*width:50%;*/
    display:block;
    text-align:left;
}
